body {
    background-color: #080710;
    margin: 0;
}

.container {
    margin: auto;
    height: 460px;
    width: 460px;
    position: relative;
    top: 90px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.container * {
    font-family: 'Times New Roman', Times, serif;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}

.container img {
    display: block;
    width: 55%;
    height: auto;
    position: relative;
    top: 20px;
    left: 100px;
    margin-bottom: 30px;
}

.container .List {
    display: flex;
}

.container .List .Link {
    display: inline;
    position: relative;
    left: 150px;
    margin-right: 60px;
    cursor: pointer;
}

.container .List .Link::after {
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0;
    width: 0;
    height: 2px;
    background: rgb(226, 43, 119);
    transition: width 0.3s ease-in-out;
}

.container .List .active-link::after {
    width: 60%;
}

.signupForm,
.loginForm {
    display: none;
}

.active-form {
    display: block;
}

.loginForm input {
    position: relative;
    background-color: #262626;
    border-color: #262626;
    margin-top: 25px;
    height: 35px;
    border-radius: 5px;
    left: 85px;
    width: 60%;
}

.signupForm input {
    position: relative;
    background-color: #262626;
    border-color: #262626;
    margin-top: 15px;
    height: 30px;
    border-radius: 5px;
    left: 85px;
    width: 60%;
}

.loginForm button,
.signupForm button {
    font-size: 16px;
    background-color: rgb(226, 43, 119);
    position: relative;
    left: 180px;
    width: 90px;
    height: 30px;
    margin-top: 25px;
    transition: transform 0.8s ease, box-shadow 0.5s ease;
    border: rgb(226, 43, 119);
    border-radius: 10px;
}


.signupForm button {
    margin-top: 20px !important ;
}

.loginForm button:hover,
.signupForm button:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px rgb(226, 43, 119);
    cursor: pointer;
}

.p1 {
    position: relative;
    left: 130px;
    top: 25px;
    font-size: 15px;
}

.p2 {
    position: relative;
    left: 125px;
    font-size: 15px;
}

.p1 span,
.p2 span {
    color: rgb(226, 43, 119);
    cursor: pointer;

}
.p1 span:hover,
.p2 span:hover {
      text-decoration: underline;
}

