body {
    background-color: #080710;
    margin: 0;
    padding: 0;

}

#navbarNav ul {
    margin-left: auto;
}

.navbar {
    background-color: #080710;

}

.name img{
width: 100%;
height: 60px;
}

.custom-nav .nav-link {
      color: rgba(255, 255, 255, 0.8) !important;
    font-size: 18px;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
}

.custom-nav .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    margin-left: 7px;
    margin-bottom: 5px;
    background: rgb(226, 43, 119);
    transition: width 0.5s ease-in-out;
}

.custom-nav .nav-link:hover::before {
    width: 40%;
}

.about {
position:relative;
top:150px;
}

.icon{
  color: rgb(226, 43, 119);

}

.title, .summary{
    color: rgba(255, 255, 255, 0.8);
        font-family: 'Times New Roman', Times, serif;
}

.summary{
margin-top : 20px;
 font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size:14px;
line-height: 1.8;
}
.search{
margin-top : 50px;
height:48px;
}

.icon, .search-input{
    background-color: #262626;
    border-color: #262626;
}

.icon:hover{
    background-color: #262626;
    border-color: #262626;
      color: rgb(226, 43, 119);

    }


.search-input:focus {
    color: white;
    background-color: #262626;
    border-color: #262626;
    box-shadow: none;
}

.search-input::placeholder {
    color: white;
    font-size: 16px;
}

.title span{
      color: rgb(226, 43, 119);
}

.courses{
    font-family: 'Times New Roman', Times, serif;
    margin-top:130px;
    color: rgb(226, 43, 119);
    text-align:center;
}

.search-course{
    background-color: rgba(38, 38, 38, 0.10) !important;
    border-color: #262626;
}

.searchCourse{
margin-top : 25px;
height:40px;
}

.icon, .search-input{
    background-color: rgba(38, 38, 38, 0.10) !important;
    border-color: #262626;
}


.footer {
    background-color: #262626;
    color: white;
    text-align: center;
    width: 100%;
    height:45px;
}

.footer p {
    color: white;
    margin-bottom: 0;
    font-size: 16px;
    padding-top:10px;
    font-family: 'Times New Roman', Times, serif;

}

.footer p span {
    color: rgb(226, 43, 119);
}

html, body {
    height: 100%;
}

.container {
    min-height: 100%;
}

.noCourses p{
    color: rgba(255, 255, 255, 0.8);
    margin:auto;
    margin-top:-25px;
}
.noCourses a{
    color: rgb(226, 43, 119);
    cursor:pointer;
    font-size:12px;
    text-decoration: none;
}

.noCourses a:hover {
    text-decoration: underline;
}

.studentName::first-letter {
    text-transform: capitalize;
}

.studentName {
    color: rgb(226, 43, 119);
}

.card-back{
    background-color: #1a1a1d;
    border-radius: 10px;
 color: rgba(255, 255, 255, 0.9);
     font-family: 'Roboto', sans-serif;
    font-size:13px;

}

.card-title{
    color: rgb(226, 43, 119);
    font-family: 'Times New Roman', Times, serif;


}

.card-subtitle{
    font-family: 'Times New Roman', Times, serif;
        color:  rgba(255, 255, 255, 0.6);
}
.addSchedule{
    font-size: 13px;
    font-weight:450;
    color:rgba(255, 255, 255, 0.8);
    font-family: 'Roboto', sans-serif;
    background-color: rgb(226, 43, 119);
    position: relative;
    height: 30px;
    margin-top: 5px;
    transition: transform 1s ease, box-shadow 0.5s ease;
    border: rgb(226, 43, 119);
    border-radius: 5px;
}
.addSchedule:hover{
   transform: scale(1.1);
    box-shadow: 0 0 8px rgb(226, 43, 119);
    }