<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RegiCourse Login</title>
     {% load static %}
    <link rel="stylesheet" href= "{% static 'login.css'%}">
  </head>

  <body>
    <div class="container">
      <img src="{% static 'logo.png'%}" alt="Logo" />

      <div class="List">
        <p class="Link active-link" id="linkLogin" onclick="openTab('Login')">
          Login
        </p>
        <p class="Link" id="linkSignup" onclick="openTab('Signup')">Signup</p>
      </div>

      <form id="loginForm" class="loginForm active-form">
        <input type="email" placeholder="Email" required/>
        <br />
        <input type="password" placeholder="Password" required />
        <br />
        <button type="submit">Login</button>
        <p class="p1">
          Don't have an account?<span
            onclick="openTab('Signup')"
            >Signup</span
          >
        </p>
      </form>

      <form id="signupForm" class="signupForm">
        <input type="text" placeholder="Name" required/>
        <br />
        <input type="email" placeholder="Email" required/>
        <br />
        <input type="password" placeholder="Password" required />
        <br />
        <input type="password" placeholder="Confirm Password" required />
        <br />
        <button type="submit">Signup</button>
        <p class="p2">
          Already have an account?<span
            id="linkSignup "
            onclick="openTab('Login')"
            >Login</span
          >
        </p>
      </form>
    </div>
<script src="{% static 'login.js'%}"></script>
  </body>
</html>
