{% extends 'master.html' %}

{% block title %}
  Schedule Page
{% endblock %}

{% block content%}

<h1 class="mySchedule">My <span>Schedule</span></h1>
<p class="nameSch">Name: <span>{{ student_name }}</span></p>
<div class="table-responsive mt-4">
    <table class="table currentSch table-bordered">
        <thead>
            <tr class="tableHeader">
                    <th>Code</th>
                    <th>Course</th>
                    <th>Room</th>
                    <th>Sun</th>
                    <th>Mon</th>
                    <th>Tue</th>
                    <th>Wed</th>
                    <th>Thu</th>
                    <th>Instructor</th>
            </tr>
        </thead>
        <tbody>
            {% for registration in registered_courses %}
            <tr>
                <td>{{ registration.course.course_code }}</td>
                <td>{{ registration.course.course_name }}</td>
                <td>{{ registration.course.schedule.roomNo }}</td>

                <td>
                    {% if 'Sun' in registration.course.schedule.days %}
                        {{ registration.course.schedule.startTime|time:"H:i" }} - {{ registration.course.schedule.endTime|time:"H:i" }}
                    {% endif %}
                </td>
                <td>
                    {% if 'Mon' in registration.course.schedule.days %}
                        {{ registration.course.schedule.startTime|time:"H:i" }} - {{ registration.course.schedule.endTime|time:"H:i" }}
                    {% endif %}
                </td>
                <td>
                    {% if 'Tue' in registration.course.schedule.days %}
                        {{ registration.course.schedule.startTime|time:"H:i" }} - {{ registration.course.schedule.endTime|time:"H:i" }}
                    {% endif %}
                </td>
                <td>
                    {% if 'Wed' in registration.course.schedule.days %}
                        {{ registration.course.schedule.startTime|time:"H:i" }} - {{ registration.course.schedule.endTime|time:"H:i" }}
                    {% endif %}
                </td>
                <td>
                    {% if 'Thu' in registration.course.schedule.days %}
                        {{ registration.course.schedule.startTime|time:"H:i" }} - {{ registration.course.schedule.endTime|time:"H:i" }}
                    {% endif %}
                </td>
                <td>{{ registration.course.instructor_name }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="12">No registered courses found.<a class="findCou" href="{% url 'courses' %}"> Find courses</a>
</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
